Node-RED/flows.json
[
    {
        "id": "201f272.0ee99d8",
        "type": "mqtt in",
        "z": "91875c9e.f3fa8",
        "name": "",
        "topic": "iot-2/type/+/id/+/evt/+/fmt/json",
        "qos": "2",
        "datatype": "json",
        "broker": "1ce1c785.fd6508",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "ad5655f4.81f8e8"
            ]
        ]
    },
    {
        "id": "ad5655f4.81f8e8",
        "type": "change",
        "z": "91875c9e.f3fa8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.distance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 140,
        "wires": [
            [
                "d23f1b70.25bc18",
                "3e5aa7e5.07e238"
            ]
        ]
    },
    {
        "id": "d23f1b70.25bc18",
        "type": "debug",
        "z": "91875c9e.f3fa8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "3e5aa7e5.07e238",
        "type": "function",
        "z": "91875c9e.f3fa8",
        "name": "retrieve msg.payload value",
        "func": "if (msg.payload < 100)\n{\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "2446b613.db1c5a"
            ]
        ]
    },
    {
        "id": "2446b613.db1c5a",
        "type": "sendsms",
        "z": "91875c9e.f3fa8",
        "creds": "80fa2880.9ded48",
        "to": "65{MOBILE.NO}",
        "fr": "Node-RED",
        "text": "Please observe Safe Distancing Meaures! Thank you! :)",
        "unicode": false,
        "x": 850,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1ce1c785.fd6508",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "0f78uu.messaging.internetofthings.ibmcloud.com",
        "port": "1883",
        "clientid": "a:0f78uu:esp8266SocialDistance",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "80fa2880.9ded48",
        "type": "nexmobasic",
        "z": ""
    }
]
